*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    background-color: rgba(76, 91, 102);
    padding: 40px 150px;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    gap: 20px;
    font-size: 18px;
}
nav ul li{
    margin-right: 60px;
}
nav ul li a{
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: white;
}
.uno{
    background-color: rgba(62, 73, 81);
    border-radius: 50px;
    padding: 1px 20px;
    color: white;
    font-size: 18px;
    border-top: 2px solid #00000055;
    border-bottom: 2px solid #ffffff55;
    border-left: 0;
    border-right: 0;
}
.contenedor-uno{
    background-color: rgba(76, 91, 102);
    display: flex;
    flex-direction: row;
}
.enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}
.imagen-uno img{
    padding: 40px 0 55px 140px;
    height: 110%;
}
.texto-uno{
    padding: 100px 0 0 200px;
    font-family: "Roboto", sans-serif;
}
.texto-uno h1{
    font-size: 60px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.parrafo{
    color: rgba(213, 213, 214);
    font-size: 19px;
    width: 550px;
    margin-top: 10px;
    line-height: 30px;
}
.parrafo-uno{
    color: rgba(129, 133, 136);
    font-size: 19px;
    width: 560px;
    margin-top: 20px;
    line-height: 30px;
}
.boton-azul{
    padding: 10px 40px;
    background-color: rgba(65, 155, 212);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border-top: 2px solid rgba(152, 200, 229);
    border-bottom: 2px solid rgba(41, 100, 148);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-weight: bold;
}
.or{
    color: white;
    margin-left: 20px;
}
.enlace-uno{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%; 
    font-weight: bold;
}
.enlace-uno img{
    margin-right: 10px;
}
.contenedor-dos{
    background-color: rgba(237, 237, 237);
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgba(216, 216, 216);

}
