*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    background-color: rgba(76, 91, 102);
    padding: 40px 150px;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    gap: 20px;
    font-size: 18px;
}
nav ul li{
    margin-right: 60px;
}
nav ul li a{
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: white;
}
header img{
    width: 170px;
}
.uno{
    background-color: rgba(62, 73, 81);
    border-radius: 50px;
    padding: 1px 20px;
    color: white;
    font-size: 18px;
    border-top: 2px solid #00000055;
    border-bottom: 2px solid #ffffff55;
    border-left: 0;
    border-right: 0;
}
.contenedor-uno{
    background-color: rgba(76, 91, 102);
    display: flex;
    flex-direction: row;
}
.enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}
.imagen-uno img{
    padding: 40px 0 55px 140px;
    height: 110%;
}
.texto-uno{
    padding: 100px 0 0 200px;
    font-family: "Roboto", sans-serif;
}
.texto-uno h1{
    font-size: 60px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.parrafo{
    color: rgba(213, 213, 214);
    font-size: 19px;
    width: 550px;
    margin-top: 10px;
    line-height: 30px;
}
.parrafo-uno{
    color: rgba(129, 133, 136);
    font-size: 19px;
    width: 560px;
    margin-top: 20px;
    line-height: 30px;
}
.boton-azul{
    padding: 10px 40px;
    background-color: rgba(65, 155, 212);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border-top: 2px solid rgba(152, 200, 229);
    border-bottom: 2px solid rgba(41, 100, 148);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-weight: bold;
}
.or{
    color: white;
    margin-left: 20px;
}
.enlace-uno{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    border-bottom: solid 1px white;
    font-weight: bold;
}
.enlace-uno img{
    margin-right: 10px;
}
.contenedor-dos{
    background-color: rgba(237, 237, 237);
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgba(216, 216, 216);
}
.contenedor-tres{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px 50px;
    font-family: "Nunito Sans", sans-serif;
    flex-wrap: wrap;
}
.contenedor-tres-uno img{
    width: 150px;
}
.contenedor-tres-uno h2{
    color: rgb(78, 83, 87);
    font-weight: 500;
    margin-top: 25px;
    font-size: 28px;
}
.contenedor-tres-uno p{
    color: rgba(129, 133, 136);
    width: 360px;
    margin-top: 10px;
}
.contenedor-tres-uno button{
    padding: 15px 40px;
    background-color: rgba(65, 155, 212);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border-top: 2px solid rgba(152, 200, 229);
    border-bottom: 2px solid rgba(41, 100, 148);
    border-left: 0;
    border-right: 0;
    font-weight: bold;
    margin-top: 30px;
}
.imagenes{
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px;
    flex-wrap: wrap;
}
.imagenes img{
    width: 270px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.contenedor-cuatro h1{
    font-family: "Nunito Sans", sans-serif;
    color: rgb(78, 83, 87);
    font-weight: 500;
    padding: 20px 150px;
    font-size: 28px;
}
.contenedor-cinco{
    display: flex;
    flex-direction: row;
    font-family: "Nunito Sans", sans-serif;
}
.contenedor-cinco-uno{
    padding: 150px 150px;
}
.contenedor-pequeno-uno{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.contenedor-pequeno-dos{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.contenedor-pequeno-tres{
    display: flex;
    flex-direction: row;
}
.contenedor-pequeno-cuatro{
    display: flex;
    flex-direction: row;
}
.titulo-uno{
    font-family: "Nunito Sans", sans-serif;
    color: rgb(78, 83, 87);
    font-weight: 500;
    font-size: 28px;
}
.titulo-uno img{
    margin-right: 10px;
}
.texto-dos p{
    width: 370px;
    color: rgba(129, 133, 136);
    font-size: 16px;
    line-height: 27px;
}
.texto-dos{
    margin-left: 40px;
}
.texto-dos a{
    margin-left: 10px;
    text-decoration: none;
    color: rgba(0, 172, 237);
}
.texto-dos h3{
    font-family: "Nunito Sans", sans-serif;
    color: rgb(78, 83, 87);
    font-weight: 500;
}
.imagen-dos img{
    width: 180px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
.texto-dos .fecha{
    color: rgb(181, 194, 203);
    font-size: 13px;
}
.texto-azul{
    text-decoration: none;
    color: rgba(0, 172, 237);
    font-size: 16px;
}
.contenedor-cinco-dos{
    padding: 150px 0;
}
.contenedor-pequeno-dos p{
    width: 470px;
    color: rgba(129, 133, 136);
    font-size: 16px;
    line-height: 27px;
}
.contenedor-pequeno-dos .arroba{
    color: rgb(70, 74, 77);
    text-decoration: none;
    font-size: 18px;
}
.contenedor-pequeno-dos a{
    text-decoration: none;
    color: rgba(0, 172, 237);
}
.contenedor-cinco-dos .fecha{
    color: rgb(181, 194, 203);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.contenedor-pequeno-tres p{
    width: 470px;
    color: rgba(129, 133, 136);
    font-size: 16px;
    line-height: 27px;
}
.contenedor-pequeno-tres .arroba{
    color: rgb(70, 74, 77);
    text-decoration: none;
    font-size: 18px;
}
.contenedor-pequeno-tres a{
    text-decoration: none;
    color: rgba(0, 172, 237);
}
.contenedor-cinco-tres .fecha{
    color: rgb(181, 194, 203);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.contenedor-pequeno-cuatro p{
    width: 470px;
    color: rgba(129, 133, 136);
    font-size: 16px;
    line-height: 27px;
}
.contenedor-pequeno-cuatro .arroba{
    color: rgb(70, 74, 77);
    text-decoration: none;
    font-size: 18px;
}
.contenedor-pequeno-cuatro a{
    text-decoration: none;
    color: rgba(0, 172, 237);
}
.contenedor-cinco-cuatro .fecha{
    color: rgb(181, 194, 203);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 40px;
}
hr{
    border:none;
    background-color: rgb(202, 212, 219);
    margin: 0 140px 0 140px;
    height: 1px;
}
footer{
    display: flex;
    flex-direction: row;
    font-family: "Nunito Sans", sans-serif;
    color: rgba(129, 133, 136);
    padding: 20px 140px 60px 140px;
    justify-content: space-between;
}
.iconos img{
    width: 35px;
    margin-left: 10px;
}

/*Media Queries*/

@media (max-width: 1279px) {
    header{
        padding: 20px 50px;
    }
    nav{
        margin-left:  250px;
    }
    nav ul{
        gap: 0px;
    }
    .imagen-uno img{
        padding: 40px 0 0px 40px;
        width: 420px;
    }
    .contenedor-uno{
        padding-bottom: 50px;
    }
    .texto-uno{
        padding: 100px 0 0 40px;
        font-family: "Roboto", sans-serif;
    }
    .texto-uno h1{
        font-size: 45px;
    }
    .parrafo{
        width: 410px
    }
    .parrafo-uno{
        width: 410px;
    }
    .enlaces{
        margin-top: 20px;
    }
    .boton-azul{
        padding: 10px 30px;
    }
    .contenedor-tres-uno{
        margin-top: 30px;
    }
    .contenedor-tres{
    padding: 50px 50px;
    row-gap: 50px;
    }
    .imagenes img{
        margin-top: 40px;
    }
    .contenedor-cinco{
        flex-direction: column;
    }
    .contenedor-cinco-dos{
        padding: 0 0 100px 150px;
    }
    .contenedor-cinco-uno{
        padding: 150px 0 100px 150px;
    }
    }
@media (max-width: 920px) {
    header{
        padding: 20px 30px;
    }
    nav{
        margin-left:  140px;
    }
    nav ul{
        gap: 0px;
    }
    .imagen-uno img{
        padding: 40px 0 0px 20px;
        width: 330px;
        height: 111.5%;
    }
    .texto-uno{
        padding: 80px 0 0 30px;
        font-family: "Roboto", sans-serif;
    }
    .texto-uno h1{
        font-size: 40px;
    }
    .parrafo{
        font-size: 15px;
        width: 350px
    }
    .parrafo-uno{
        font-size: 15px;
        width: 350px;
    }
    .enlaces{
        margin-top: 20px;
    }
    .boton-azul{
        padding: 10px 20px;
    }
    .contenedor-tres-uno{
        margin-top: 30px;
    }
    .contenedor-tres{
    padding: 50px 50px;
    row-gap: 50px;
    }
    .imagenes img{
        margin-top: 40px;
    }
    .contenedor-cinco{
        flex-direction: column;
    }
    .contenedor-cinco-dos{
        padding: 0 0 100px 110px;
    }
    .contenedor-cinco-uno{
        padding: 150px 0 100px 110px;
    }
    .contenedor-cuatro h1{
        padding: 20px 110px;
    }
    hr{
        margin: 0 140px 0 110px;
    }
    footer{
        padding: 20px 140px 60px 110px;
    }
    .texto-dos p{
        width: 340px;
    }
}



